@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Open+Sans:wght@300..800&family=Playwrite+DE+SAS:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-custom-black: #1f1f1f;
  --color-custom-blue: #4F46E5;
  --color-pastel-green: #d0dbd5;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  /* background-color: var(--color-pastel-green); */
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.cursive {
  font-family: "Playwrite DE SAS", cursive;
}